auto lo
iface lo inet loopback

iface {{ vlan_01_interface }} inet manual
iface {{ vlan_02_interface }} inet manual
iface {{ vlan_03_interface }} inet manual
iface {{ vlan_04_interface }} inet manual

auto vmbr0
iface vmbr0 inet static
        address  {{ vlan_01_ip }}/{{ vlan_01_mask }}
        gateway  {{ vlan_01_gateway }}
        bridge-ports {{ vlan_01_interface }}
        bridge-stp off
        bridge-fd 0

auto vmbr1
iface vmbr1 inet static
        address  {{ vlan_02_ip }}/{{ vlan_02_mask }}
        bridge-ports {{ vlan_02_interface }}
        bridge-stp off
        bridge-fd 0

auto vmbr2
iface vmbr2 inet static
        address  {{ vlan_03_ip }}/{{ vlan_03_mask }}
        bridge-ports {{ vlan_03_interface }}
        bridge-stp off
        bridge-fd 0

auto vmbr3
iface vmbr3 inet static
        address  {{ vlan_04_ip }}/{{ vlan_04_mask }}
        bridge-ports {{ vlan_04_interface }}
        bridge-stp off
        bridge-fd 0
