auto lo
iface lo inet loopback

iface eth0 inet manual
iface eth1 inet manual
iface eth2 inet manual
iface eth3 inet manual

{% for bridge in bridges %}
auto {{ bridge.name }}
iface {{ bridge.name }} inet static
    address  {{ bridge.ip }}/{{ bridge.mask }}
    gateway  {{ bridge.gateway }}
    {% if bridge.type == 'linux' %}
    bridge-ports {{ bridge.interface }}
        bridge-stp off
        bridge-fd 0
    {% elif bridge.type == 'ovs' %}
    ovs_type Open_vSwitch
    ovs_bridge {{ bridge.interface }}
    {% endif %}
{% endfor %}

