auto lo
iface lo inet loopback

{% for bridge in bridges %}
iface {{ bridges.interface }} inet manual
{% endfor %}

{% for bridge in bridges %}
auto {{ bridges.name }}
iface {{ bridges.name }} inet static
    address  {{ bridges.ip }}/{{ bridges.mask }}
    gateway  {{ bridges.gateway }}
    ovs_type OVSBridges
    ovs_ports {{ bridges.interface }}
{% endfor %}