ansible.cfg
inventory/hosts-*
vault.yml
/keys
/tmp
.vaultpass
host_vars/cave.yml
host_vars/mine.yml
host_vars/plant.yml
roles/ssh/files/*
.venv
.vscode
.ansible
host_vars/cave.yml
host_vars/tower.yml
host_vars/mine.yml
host_vars/plant.yml